/* importa font */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


/* estilo geral */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

